<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
           "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="org.archfirst.mmm.domain.Account" alias="Account"/>
        <typeAlias type="org.archfirst.mmm.domain.Category" alias="Category"/>
        <typeAlias type="org.archfirst.mmm.domain.Transaction" alias="Transaction"/>
        <typeAlias type="org.archfirst.mmm.domain.TransactionSummaryForCategory" alias="TransactionSummaryForCategory"/>
    </typeAliases>

</configuration>